<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>OnlineShopping</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 注册 -->
	<servlet>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>demo.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/ARegist</url-pattern>
	</servlet-mapping>

	<!-- 登录 -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>demo.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/ALogin</url-pattern>
	</servlet-mapping>

	<!-- 修改客户信息 -->
	<servlet>
		<servlet-name>ChangeCustomerInfoServlet</servlet-name>
		<servlet-class>demo.ChangeCustomerInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeCustomerInfoServlet</servlet-name>
		<url-pattern>/ChangeCustomerInfo</url-pattern>
	</servlet-mapping>
	<!-- 客户加钱 -->
	<servlet>
		<servlet-name>AddCustomerMoneyServlet</servlet-name>
		<servlet-class>demo.AddCustomerMoneyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCustomerMoneyServlet</servlet-name>
		<url-pattern>/AddMoney</url-pattern>
	</servlet-mapping>
	<!-- 客户购买 -->
	<servlet>
		<servlet-name>BuyGoodServlet</servlet-name>
		<servlet-class>demo.BuyGoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuyGoodServlet</servlet-name>
		<url-pattern>/BuyGoods</url-pattern>
	</servlet-mapping>
	<!-- 加购物车 -->
	<servlet>
		<servlet-name>AddShoppingCarServlet</servlet-name>
		<servlet-class>demo.AddShoppingCarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddShoppingCarServlet</servlet-name>
		<url-pattern>/AddIntoShoppingCar</url-pattern>
	</servlet-mapping>
	<!-- 修改商家信息 -->
	<servlet>
		<servlet-name>ChangeBusinessmanInfoServlet</servlet-name>
		<servlet-class>demo.ChangeBusinessmanInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeBusinessmanInfoServlet</servlet-name>
		<url-pattern>/ChangeBusinessmanInfo</url-pattern>
	</servlet-mapping>

	<!-- 展示商品信息 -->
	<servlet>
		<servlet-name>ShowGoodsViewServlet</servlet-name>
		<servlet-class>demo.ShowGoodsViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowGoodsViewServlet</servlet-name>
		<url-pattern>/ShowGoodsView</url-pattern>
	</servlet-mapping>
	<!-- 添加商品信息 -->
	<servlet>
		<servlet-name>AddGoodsInfoServlet</servlet-name>
		<servlet-class>demo.AddGoodsInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddGoodsInfoServlet</servlet-name>
		<url-pattern>/AddGoodsInfo</url-pattern>
	</servlet-mapping>
	<!-- 修改商品信息 -->
	<servlet>
		<servlet-name>UpdateGoodsInfoServlet</servlet-name>
		<servlet-class>demo.UpdateGoodsInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateGoodsInfoServlet</servlet-name>
		<url-pattern>/UpdateGoodsInfo</url-pattern>
	</servlet-mapping>
	<!-- 查询商品信息 -->
	<servlet>
		<servlet-name>SearchGoodsServlet</servlet-name>
		<servlet-class>demo.SearchGoodsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchGoodsServlet</servlet-name>
		<url-pattern>/SearchGoods</url-pattern>
	</servlet-mapping>
	<!-- 查询利润 -->
	<servlet>
		<servlet-name>ViewProfitServlet</servlet-name>
		<servlet-class>demo.ViewProfitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewProfitServlet</servlet-name>
		<url-pattern>/ViewProfit</url-pattern>
	</servlet-mapping>
	<!-- 查询商家已经卖出 -->
	<servlet>
		<servlet-name>ViewSellServlet</servlet-name>
		<servlet-class>demo.ViewSellServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewSellServlet</servlet-name>
		<url-pattern>/ViewSell</url-pattern>
	</servlet-mapping>
</web-app>